<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/game.css">
    <title>Game Rock Paper Scissor</title>
</head>
<body>
    <section class="container border">
    
        <nav class="header"> 
            <div class="container col-12">
                <span class="panah"> < </span> 
                
                <img class="logo" src="/assets/Asset 1.jpg" alt="" style="width: 75px;">
                <span class="judul">ROCK PAPER SCISSORS</span>
            </div>
        </nav>
        <div class="container">
            <div class="game row">
                <div class="col-sm-4" id="playerColom">
                    <div class="player1">
                        PLAYER 1
                    </div>
                    <div class="player" id="batuPlayer">
                        <img src="/assets/batu.png" alt="" width="100px">
            
                    </div>
                    <div class="player"   id="kertasPlayer">
                        <img src="/assets/kertas.png" alt="" width="100px">
                    </div>
                    <div class="player" id="guntingPlayer">
                        <img src="/assets/gunting.png" alt="" width="100px">
                    </div>
                    
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <div class="vs" id="hasil">
                        <h1>V S</h1>
                    </div>
                    
                </div>
                <div class="col-sm-4">
                    <div class="computer1">
                        COMPUTER
                    </div>
                    <div class="computer" id="batuCom">
                        <img src="/assets/batu.png" alt="" width="100px">
                    
                    </div>
                    <div class="computer" id="kertasCom">
                        <img src="/assets/kertas.png" alt="" width="100px">
                    </div>
                    <div class="computer" id="guntingCom">
                        <img src="/assets/gunting.png" alt="" width="100px">
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <div class="refresh" id="refresh" onclick="location.reload()">
                        <img src="/assets/refresh.png" alt="" width="100px" >
                </div>
              
          </div>
          
    </section>
    <script src="/public/js/game.js"></script>
</body>
</html>