<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>challenge3</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/home.css">
</head>
<body>
    
        <!-- halaman 1 -->
        <nav class="navbar navbar-expand-sm bg-dark">
            <div class="container-fluid" >
              <ul class="navbar-nav">
                <li class="navbar-brand">
                    <a class="nav-link" href="/">LOGO</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/work">WORK</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">CONTACT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">ABOUT ME</a>
                </li>
                
              </ul>
              <ul class="navbar-nav2 d-flex">
                <li class="nav-item">
                    <a class="nav-link" href="/login">LOGIN</a>
                  </li>
                  <li class="nav-item" >
                    <a class="nav-link" href="/signup">SIGNUP</a>
                </li>
              </ul>
            </div>
          </nav>
          
     
    <header class="header">
            <div class="container1">
                <h6 class="title">PLAY TRADITIONAL GAME</h6>
                <h1 class="subtitle">Experience New traditional Game Play</h1>  
                <button type="button" class="btn btn-warning">Play Now</button>
                <h1 class="story"> The Story</h1>
                <svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
                    
            
             </div>     
     </header>

     <!--  halaman 2-->

     <section class="thegames">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-4">
                    <h6 class="section-subtitle ">What's so special?</h6>
                    <h1 class="section-title ">THE GAMES</h1>
                </div>
                <div class="col-8">
                    <div class="row">
                        <!-- Carousel -->
                        <div id="demo" class="carousel slide" data-bs-ride="carousel">

                            <!-- Indicators/dots -->
                            <div class="carousel-indicators">
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                        </div>
    
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/rockpaperstrategy-1600.jpg" alt="" class="d-block" style="width:100%">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/rockpaperstrategy-1600.jpg" alt="" class="d-block" style="width:100%">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/rockpaperstrategy-1600.jpg" alt="" class="d-block" style="width:100%">
                        </div>
                        </div>
    
                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                            <svg width="20" height="38" viewBox="0 0 20 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 1.70007L18 35.7001L2 18.8904L18 1.70007Z" stroke="white" stroke-width="3.36454" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                            <svg width="18" height="39" viewBox="0 0 18 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.82153 2.65635L1.82153 36.7297L15.5642 19.8838L1.82153 2.65635Z" stroke="white" stroke-width="3.36454" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        </div>
                     </div>
                </div>
            </div>              
        </div>
    </section>

    <!-- halaman 3 -->

    <section class="features">
        
        <div class="container">
            <div class="row justify-content-between">
                <div class="container mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-6 offset-md-6">
                            <h5>What's so special?</h5>
                            <h1>FEATURES</h1>
                            <ul class="timeline">
                                <li>
                                   <a>TRADITIONAL GAMES</a>
                                    <P>If you miss your childhood, we provide
                                       <br> many traditional games here
                                </li>
                                <li>
                                    <a>GAME SUIT</a>
                                    
                                </li>
                                <li>
                                    <a>TBD</a>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>              
        </div>
    </section>

    <!-- halaman 4 -->
    <section class="requirements">
      <div class="container mt-xl-5">
          <h6 style="text-align: center;">Can My Computer Run This Game</h6>
            <div class="row justify-content-between">
                <div class="col-6">
                    <div class="row">
                        <h1>SYSTEM <br> REQUIREMENTS</h1>
                        <div class="col-6 border pb-5">
                            <h5 style="color: rgb(237, 185, 12);">OS:</h5>
                            <h6>Windows 7 64-bit only <br> 
                                (No OSX support at this time</h6>
                        </div>
                        <div class="col-6 border pb-5">
                            <h5 style="color: rgb(237, 185, 12);">PROCESSOR:</h5>
                            <H6>Intel Core 2 Duo @ 2.4 GHZ or 
                                <br> AMD Athlon X2 @ 2.8 GHZ
                            </H6>
                        </div>
                        <div class="col-6 border pb-5">
                            <h5 style="color: rgb(237, 185, 12);">MEMORY:</h5>
                            <H6>4 GB RAM</H6>
                        </div>
                        <div class="col-6 border pb-5">
                            <h5 style="color: rgb(237, 185, 12);">STORAGE:</h5>
                            <H6>8 GB available space</H6>
                        </div>
                        <div class="col-12 border pb-5">
                            <h5 style="color: rgb(237, 185, 12);">GRAPHICS:</h5>
                            <H6>NVDIA GEFORCE GTX 660 2GB or
                                <br> AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                            </H6>
                        </div>
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="row">
                        
                
                    </div>
                </div>
                
            </div>              
        </div>
    </section>

    <!-- halaman 5 -->
    <section class="topscores">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-6">
                    <div class="row" style="padding-top: 200px;">
                        <h1>TOP SCORES</h1>
                        <h6>This top score from various games provided
                            <br> on this platform
                        </h6>
                   </div>
                    <button type="button" class="btn btn-warning">see more</button>
                </div>
                <div class="d-flex col-6">
                    <div class="row">
                        <div class="card col-10">
                            <div class="card-body">
                                <div class="media align-items-center mb-3">
                                    <img class="mr-3 rounded-circle" src="assets/evan-lahti.jpg" alt="">
                                    <div class="media-body">
                                        <h6 class="mt-1 mb-0">Evan Lahti</h6>
                                        <small class="text-muted mb-0">PC Gamer</small>     
                                    </div>
                                </div>
                                <p class="mb-0">"One of my gaming highlight of the year."
                                </p>
                                </div>
                        </div>
                        <div class="card col-10" >
                            <div class="card-body">
                                <div class="media align-items-center mb-3">
                                    <img class="mr-3 rounded-circle" src="assets/jada-griffin.jpg" alt="">
                                    <div class="media-body">
                                        <h6 class="mt-1 mb-0">Jada Griffin</h6>
                                        <small class="text-muted mb-0">Nerdreactor</small>     
                                    </div>
                                </div>
                                <p class="mb-0">"The next big thing in the world of streaming
                                    <br> and survival games."
                                </p>
                            </div>
                        </div>
                        <div class="card col-10">
                            <div class="card-body">
                                <div class="media align-items-center mb-3">
                                    <img class="mr-3 rounded-circle" src="assets/aaron-williams.jpg" alt="">
                                    <div class="media-body">
                                        <h6 class="mt-1 mb-0">Aaron Williams</h6>
                                        <small class="text-muted mb-0">Uproxx</small>     
                                    </div>
                                </div>
                                <p class="mb-0">"Snoop Dogg Playing The Wildly Entertaining
                                    <br> 'SOS' Is Rudiculous."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>              
        </div>
    </section>
    <!-- halaman 6 -->
    <section class="newsletter">
        
        <div class="container">
            <div class="row justify-content-between">
                <div class="container mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="assets/skull.png" alt="">
                        </div>

                        <div class="col-md-6">
                            <h5>Want to stay in
                                <br> touch?
                            </h5>
                            <h1>NEWSLETTER <br>
                                SUBSCRIBE 
                            </h1>
                            <p> In order to start receiving our news, all you have to do is enter your email
                                <br> addres. Everything else will be taken care of by us. We will send you emails
                                <br> containing information about game. We don't spam.
                            </p>
                            <div class="col-6  rounded">
                                <div class="card ">
                                    <div class="card-body">
                                      <h5 style="color: white;">your email addres</h5>
                                      <h4>youremail@binar.co.id</h4>
                                    </div>
                            </div>
                            <div class="col-6 d-inline-flex">
                                <button type="button" class="btn btn-warning">Subscribe Now</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>              
        </div>
        
    </section>
    





        
    
    

</body>
</html>