section {
	display: block;
	width: 1440px;
	height: 1024px;
	left: 0px;
	top: 0px;

	background: #9c835f;
}

.game {
	margin: auto;
	display: flex;
}

.panah {
	width: 55px;
	height: 87px;
	left: 37px;
	top: 12px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 72px;
	line-height: 98px;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #724c21;
}

.logo {
	width: 72px;
	height: 72px;
	left: 119px;
	top: 27px;
}

.judul {
	width: 410px;
	height: 62px;
	left: 218px;
	top: 32px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
	text-align: center;

	color: #f9b23d;
}

.container {
	margin-top: 50px;
}

.player1 {
	display: flex;
	justify-content: center;
	width: 299px;
	height: 94px;
	left: 296px;
	top: 162px;
	margin-left: 100px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #000000;
}

.player:hover {
	background-color: antiquewhite;
	border-radius: 10px;
}

.computer:hover{
    background-color: antiquewhite;
	border-radius: 10px;
}

#batuPlayer {
	display: flex;
	justify-content: center;

	width: 128px;
	height: 92px;
	left: 382px;
	top: 267px;
	margin-left: 100px;
}

#kertasPlayer {
	display: flex;
	justify-content: center;

	width: 128px;
	height: 92px;
	left: 382px;
	top: 267px;
	margin-left: 100px;
}

#guntingPlayer {
	display: flex;
	justify-content: center;

	width: 128px;
	height: 92px;
	left: 382px;
	top: 267px;
	margin-left: 100px;
}

.vs {
	margin-top: 100px;
	width: 296px;
	height: 186px;
	left: 589px;
	top: 419px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 100px;
	line-height: 196px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: red;
}

.computer1 {
	display: flex;
	justify-content: center;
	width: 299px;
	height: 94px;
	left: 296px;
	top: 162px;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #000000;
}

.computer:hover {
	background-color: antiquewhite;
}
#batuCom {
	display: flex;
	justify-content: center;
	width: 128px;
	height: 92px;
	left: 382px;
	top: 267px;
}

#kertasCom {
	display: flex;
	justify-content: center;
	width: 128px;
	height: 92px;
	left: 382px;
	top: 267px;
}

#guntingCom {
	display: flex;
	justify-content: center;
	width: 128px;
	height: 92px;
	left: 382px;
	top: 267px;
}

.refresh:hover {
	background-color: antiquewhite;
}
