



nav {
      opacity: 0.5;
  }
  .navbar-nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    
}

.navbar-nav2 a{
    color: #f2f2f2;
}

  
/* header */
.header {
    display: block;
    
    height: 100vh;
    min-height: 250px;
    background: url(assets/main-bg.jpg);
    background-size: cover;
    overflow: hidden;
    margin-top: -80px;

}

.header .container1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;     
          
  }
  .header .container1 .title {
    font-size: 50px;
    font-weight: bold;
    
  }
  .header .overlay .subtitle {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
   
  }

  .story {
      margin-top: 200px;
      font-size: small;
  }

  /* halaman 2 */

  .thegames {
    display: block;
    position: relative;
    height: 100vh;
    min-height: 500px;
    background: url(assets/the-games-bg.jpg);
    background-size: cover;
    overflow: hidden;
    color: antiquewhite;
    padding: 100px;
    
  }
.thegames .container {
  padding-top: 100px;
}

  .features {
    display: block;
    position: relative;
    height: 100vh;
    min-height: 500px;
    background: url(assets/features.jpg);
    background-size: cover;
    overflow: hidden;
    color: antiquewhite;
    padding: 100px;
    padding-top: 200px;
  }

  ul.timeline {
    list-style-type: none;
    position: relative;
    color: goldenrod;
}
ul.timeline p {
  color: #d4d9df;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 70%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    /* content: ' '; */
    content: '';
    background: rgb(240, 238, 238);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #f3f6f7;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

  .requirements {
    display: block;
    position: relative;
    height: 100vh;
    min-height: 500px;
    background: url(assets/requirements.png);
    background-size: cover;
    overflow: hidden;
    color: antiquewhite;
    padding-top: 50px;
    

  }
  
  .topscores {
    display: block;
    position: relative;
    height: 100vh;
    min-height: 500px;
    background: url(assets/top-score-bg.png);
    background-size: cover;
    background-color: #333;
    overflow: hidden;
    color: antiquewhite;
    padding-top: 100px;
    
  }

  .topscores .card {
    background-color: rgb(11, 11, 11);
  }

  .newsletter {
    display: block;
    position: relative;
    height: 100vh;
    min-height: 500px;
    background: url(assets/newsletter.png);
    background-size: cover;
    background-color: #333;
    overflow: hidden;
    color: antiquewhite;
    
   
  }

  .newsletter .card {
    background-color: #333;
    color: goldenrod;
    
  }
  
